name: Build and Test

on:
  push:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.1.1

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Publish to Chromatic
        if: github.event_name != "pull_request"
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

      - name: Run Fossa and upload data
        uses: fossa-contrib/fossa-action@v1
        with:
          fossa-api-key: abcdefghijklmnopqrstuvwxyz
