- var bundle = 'function-plot@' + version
- var link = 'https://wzrd.in/standalone/' + bundle
- var script = '<script src="' + link + '"></script>'

.wzrd-in
  //p Bundled package ready for production (powered by wzrd.in)
   a(href=link)= bundle

  .code
    pre
      code= script
